/*-------------------------------
    Dark Theme  CSS
-------------------------------*/
:root {
    --bodyFont: 'Jost', sans-serif;
    --aztechColor:#091315;
    --codColor: #191919;
    --grayColor: #ABA8B0;
}
.switch-theme-mode{
    position: fixed;
    top: 200px;
    right: 15px;
    z-index: 99;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
      }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &.round {
        border-radius: 50%;
        &:before{
            border-radius: 50%;
        }
    }
    &:before {
        position: absolute;
        content: "";
        height: 35px;
        width: 35px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('../img/night.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-color:var(--aztechColor);
        background-size: 17px;
    }
}
input:checked + .slider {
  background-color: transparent;
}
input:focus + .slider {
  box-shadow: 0 0 1px  transparent;
}
input:checked + .slider:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background: white url('../img/sunny.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

}
/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light {
    .navbar-brand{
        .logo-dark{
            display: none!important;
        }
        .logo-light{
            display: block!important;
        }
    }
}

.theme-dark {
    .navbar-brand{
        .logo-light{
            display: none!important;
        }
        .logo-dark{
            display: block!important;
        }
    }
    .td-cod,
    .footer-wrap,
    .filter-product-two,
    .product-card-two,
    .about-promo-box,
    .testimonial-card-three,
    .filter-product-three,
    .bg_secondary {
        background-color: var(--codColor)!important;
    }
    body,
    .bg-white,
    .wh-card,
    .testimonial-card-one,
    .testimonial-card-two,
    .blog-card-one,
    .blog-card-two,
    .blog-card-three,
    .search-area{
        background-color: var(--blackColor)!important;
    }
    .partner-logo{
        img{
            filter: brightness(0) invert(1);
        }
    }
    .wh-card .wh-count {
        position: absolute;
        top: 20px;
        right: 30px;
        color: var(--whiteColor);
        -webkit-text-stroke: 1px var(--whiteColor);
    }
    .td-aztech,
    .bg_primary,
    .bg_ash,
    .hero-two,
    .contact-item,
    .cta-wrap-three .cta-content,
    .pricing-card,
    .service-card.style1 .service-info,
    .team-card .team-member-info,
    .blog-card .blog-info,
    .breadcrumb-wrap,
    .login-form-wrap,
    .team-card .team-info,
    .filter-product-wrap-three::after,
    .header-wrap.header-two.sticky,
    .header-wrap.header-three .header-bottom,
    .wp-block-quote,
    .compare-table table tbody th,
    .progress-wrap::after{
        background-color: var(--aztechColor)!important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h3 a,
    .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a,
    .header-wrap.header-two .navbar .navbar-nav .nav-item a,
    .header-wrap.header-three .header-bottom .navbar .navbar-nav .nav-item a,
    .register-form .form-group label,
    .compare-table table tbody th,
    .compare-table table tbody td,
    .checkout-details .select-payment-method div label,
    article p strong, article p b, .service-desc p strong, .service-desc p b, .single-listing-desc p strong, .single-listing-desc p b, .terms-wrap p strong, .terms-wrap p b{
        color: var(--whiteColor)!important;
    }
    p,span,
    .checkbox label,
    .content-feature-list li,
    .login-form .login-body .form-group label,
    article ol li,
    .terms-wrap ol li,
    article p strong, 
    .terms-wrap p strong,
    .content-feature-list li,
    .blog-card-one .blog-info .blog-metainfo li,
    .blog-card-two .blog-info .blog-metainfo li,
    .blog-card-three .blog-info .blog-metainfo li,
    .blog-card-one .blog-info .blog-metainfo li a,
    .blog-card-two .blog-info .blog-metainfo li a,
    .blog-card-three .blog-info .blog-metainfo li a,
    .dealer-card .dealer-info .dealer-metainfo li,
    .dealer-card .dealer-info .dealer-metainfo li a,
    article ol li, .service-desc ol li, .terms-wrap ol li,
    .product-feature-list li,
    article .single-listing-features li,
    .service-desc .single-listing-features li,
    .single-listing-desc .single-listing-features li,
    .terms-wrap .single-listing-features li,
    .pricing-card .pricing-features li,
    .filter-radio-group [type="radio"]:checked + label,
    .filter-radio-group [type="radio"]:not(:checked) + label,
    .post-metainfo li,
    .contact-item .contact-info a,
    .contact-item .contact-info p,
    .product-tab-content .product_features li{
        color: var(--offwhiteColor)!important;
    }
    h3:hover a,
    .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
    .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
    .header-wrap.header-three .header-bottom .navbar .navbar-nav .nav-item a:hover,
    .header-wrap.header-three .header-bottom .navbar .navbar-nav .nav-item a.active,
    .copyright-text a{
        color: var(--mainColor)!important;
    }
    .progress-wrap svg.progress-circle path {
        stroke: rgba(255, 255, 255,0.6); 
    }
    .cart-total,
    .add-listing-box,
    .add-listing-wrap .add-listing-title {
        background-color: var(--blackColor);
        color: var(--offwhiteColor);
        border: 1px solid rgba(255, 255, 255, 0.19);
    }
    .hero-promo-box{
        background-color: var(--codColor)!important;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .app-wrap::after {
        background-color: var(--codColor)!important;
    }
    .app-box .app-shape-one,
    .app-box .app-shape-two {
       opacity: 0.1;
    }
    article,
    .cart-coupon,
    .compare-table table tbody th,
    .compare-table table tbody td,
    .pricing-card .pricing-features,
    .brand-card-two .brand-info .brand-metainfo li a,
    .product-card-one .product-info .product-amenity,
    .product-card-two .product-info .product-amenity,
    .author-widget .author-profile-wrap,
    .product-card-three .product-info .product-amenity{
        border-color: rgba(255,255,255,0.19);
    }
    .tag-list ul li a{
        background: transparent;
        border-color: rgba(255, 255, 255, 0.2);
        color:var(--whiteColor)!important;
    }
    .tag-list ul li a:hover{
        background: var(--mainColor)!important;
        color: var(--whiteColor);
        border-color: transparent;
    }
    .or-text {
        &:before {
            background: rgba(255, 255, 255, 0.2);
        }
        p{
            background-color:var(--aztechColor);
        }
    }
    .counter-card-wrap .counter-card::after{
        background-color: rgba(255, 255, 255, 0.18);
    }
    .accordion-item {
        background: transparent;
        .accordion-header {
            .accordion-button{
                background-color: transparent;
                color: var(--whiteColor);
                span{
                    border: 1px solid rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
    .search-area{
        button{
            i{
                color: var(--whiteColor);
            }
        }
    }
    .product-tab-content,
    .sidebar-widget-one{
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .category-box-one{
        li{
            a{
                background-color:var(--aztechColor);
                color: var(--whiteColor);
                &:hover{
                    background-color: var(--mainColor);
                    color: var(--whiteColor)!important
                }
            }
        }
    }
    .category-box-two li a{
        color: var(--whiteColor);
        &:hover{
            color: var(--mainColor);
        }
    }
    .app-box .app-content .app-btn a span{
        color: var(--blackColor)!important;
    }
    .service-card .link-one,
    .blog-card-one .blog-info .link-one,
    .blog-card-two .blog-info .link-one,
    .blog-card-three .blog-info .link-one{
        color: var(--offwhiteColor);
        &:hover{
            color: var(--mainColor);
        }
    }
    .product-quantity {
        .qtySelector {
            span {
                color: var(--whiteColor);
                border: 1px solid rgba(255, 255, 255, 0.14);
            }
            input {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                color: var(--whiteColor);
            }
        }
    }
    .product-tablist {
        .nav-item {
            .nav-link {
                color: var(--whiteColor);
                &.active {
                    color:var(--mainColor);
                }
            }
        }
    }
    .product-tab-content {
        background-color:var(--aztechColor);
        .product_features{
            border: 1px solid rgba(255, 255, 255, 0.1);
            li{
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                b{
                    color: var(--whiteColor);
                }
            }
        }
    }
    .client-review-header{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .cart-table {
        table {
            thead {
                tr {
                    th {
                        color: var(--whiteColor);
                        border: 1px solid rgba(255, 255, 255, 0.2);
                    }
                }
            }
            tbody {
                border-top:1px solid rgba(255, 255, 255, 0.2)!important;
                tr {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    td {
                        border-right: 1px solid rgba(255, 255, 255, 0.2);
                        background-color: transparent;
                        .product-img{
                            background-color:var(--aztechColor);
                        }
                        .cart-item {
                            color: var(--whiteColor);
                            &:hover{
                                color: var(--mainColor);
                            }
                        }
                    }
                }
            }
        }
    }
    .checkout-details{
        background-color:var(--aztechColor);
    }
    .cart-total {
        .cart-total-wrap{
            .cart-total-item {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                &:last-child{
                    border-bottom:1px solid rgba(255, 255, 255, 0.2);
                }
                p,
                span {
                    b{
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
    .checkout-promobox {
        background: var(--aztechColor);
        i{
            color: var(--mainColor);
            position: relative;
            top: 4px;
            font-size: 20px;
            margin-right: 5px;
        }
    }
    .checkout-form {
        background-color:var(--aztechColor);
        .form-group {
            margin: 0 0 15px;
            label{
                color: var(--blackColor);;
            }
            input,
            textarea {
                background: var(--whiteColor);
                color: var(--blackColor);;
            }
            select{
                background-image: url(../img/down-arrow-white.webp);
            }
        }
    }
    .checkbox.style2 label::before,
    .select-payment-method [type="radio"]:checked + label::before,
    .select-payment-method [type="radio"]:not(:checked) + label::before {
        border: 1px solid var(--whiteColor);
    }
    .header-wrap .navbar .navbar-nav .nav-item a:hover,
    .header-wrap .navbar .navbar-nav .nav-item a:focus,
    .header-wrap .navbar .navbar-nav .nav-item a.active {
        color: var(--mainColor)!important;
    }
    .comment-item{
        border-bottom-color: rgba(255, 255, 255, 0.2);
    }
    .post-author,
    #cmt-form,
    .contact-form,
    .post-meta-option{
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    input,textarea,
    .add-listing-form .form-group input,
    .add-listing-form .form-group textarea,
    .footer-wrap .footer-widget .newsletter-form .form-group input,
    .finance-calculator .form-group input, 
    .finance-calculator .form-group textarea,
    .add-listing-form .form-group input,
    .add-listing-form .form-group textarea,
    .filter-search .form-group input,
    .filter-search .form-group textarea,
    .contact-widget .form-group input,
    .contact-widget .form-group textarea,
    #cmt-form .comment-form .form-group input,
    #cmt-form .comment-form .form-group textarea,
    #contactForm .form-group input,
    .filter-product-one .form-group input,
    .filter-product-two .form-group input,
    .filter-product-three .form-group input,
    .client-review #cmt-form .form-group input,
    .client-review #cmt-form .form-group textarea,
    #contactForm .form-group textarea,
    .checkout-form .form-group input,
    .add-listing__input-file-wrap,
    .add-listing-wrap .add-listing-box .form-group input,
    .checkout-form .form-group textarea,
    .add-listing-wrap .add-listing-box .feature-tag-list span,
    .login-form-wrap .login-body .form-group input{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: var(--whiteColor);
    }
    .add-listing-form .form-group select,
    .filter-product-one .form-group select,
    .filter-search .form-group select,
    .filter-product-two .form-group select,
    .filter-product-three .form-group select,
    .client-review #cmt-form .form-group select{
        border: 1px solid rgba(255,255,255,0.2);
        color: var(--whiteColor);
        background-image: url(../img/down-arrow-white.webp);
    }
    .filter-product-one .form-group select,
    .filter-product-two .form-group select,
    .filter-product-three .form-group select,
    .search-result-wrap select,
    .add-listing-form .form-group select,
    .filter-search .form-group select{
        background-color: var(--blackColor);
        color: var(--whiteColor);
    }
    .btn-two{
        border-color: var(--mainColor)
    }
    .product-card-three .product-info .product-cat-wrap .product-price,
    .filter-product-one .form-group label,
    .filter-product-two .form-group label,
    .filter-product-three .form-group label,
    .product-card-two .product-info .product-amenity li{
        color: var(--whiteColor);
    }
    .client-review #cmt-form .form-group input,
    .client-review #cmt-form .form-group textarea{
        background-color: transparent!important;
        border: 1px solid rgba(255, 255, 255, 0.2)!important;
        color: var(--whiteColor)!important
    }
    .partner-item img {
        filter: brightness(0) invert(1);
    }
    .page-nav li a{
        background-color:var(--whiteColor);
        &:hover,
        &.active{
            background-color:var(--mainColor);
            color: var(--whiteColor)!important
        }
    }
    .login-form-wrap .login-form .form-group input,
    .contact-widget .form-group input,
    .contact-widget .form-group textarea,
    .search-box .form-group input{
        background-color: var(--blackColor);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: var(--whiteColor);
        &::placeholder{
            color: var(--whiteColor);
        }
    }
    .checkout-form .form-group select,
    .register-form .form-group select{
        background-color:var(--aztechColor);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: var(--whiteColor);
    }

    select{
        background-image: url(../img/down-arrow-white.webp);
    }
    .blog-details-wrap .author-box,
    .comment-item-wrap,
    .login-form-wrap {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .client-review .comment-item-wrap,
    .client-review #cmt-form{
        border: none;
    }
    .brand-card-two,
    .blog-card-two,
    .blog-card-one,
    .service-card,
    .dealer-card,
    .product-card-one,
    .product-card-two,
    .product-card-three{
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .brand-card-one{
        .brand-logo{
            background-color: var(--ashColor);
        }
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .product-card-three .product-info .product-amenity li {
        color: var(--offwhiteColor);
        border-right: 1px solid rgba(255, 255, 255, 0.21)
    }
    .blog-card-three .blog-info{
        border: 1px solid rgba(255, 255, 255, 0.19);
        border-top: none;
    }
    .pp-post-item {
        .pp-post-info {
            h6 {
                a{
                    color: var(--whiteColor);
                    &:hover{
                        color: var(--mainColor);
                    }
                }
            }
        }
    }
    .client-review .comment-item-wrap .comment-item .comment-author-wrap .comment-author-info .reply-btn,
    .tag-list.style2 li a,
    .blog-metainfo li,
    .product-more-option-item span, .product-more-option-item a,
    .product-card-two .product-info .product-category,
    .author-widget .author-social-link .social-profile li a i,
    .blog-metainfo li a{
        color: var(--offwhiteColor);
        &:hover{
            color: var(--mainColor);
        }
    }
    .search-result-two select{
        background-color: var(--aztechColor);
        color:var(--whiteColor);
    }
    .brand-card-two .brand-info .brand-metainfo li a{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: var(--whiteColor);
        &:hover{
            color: var(--mainColor);
        }
    }
}
@media only screen and (max-width:991px) {
    .theme-dark{
        .main-menu-wrap,
        .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu{
            background-color:var(--aztechColor);
        }
        .menu-close i,
        .header-wrap .navbar .navbar-nav .nav-item .menu-expand i{
            color: var(--whiteColor)!important
        }
        .header-wrap .navbar .navbar-nav .nav-item a.active,
        .main-menu li a.active{
            color: var(--mainColor)!important;
        }
        .main-menu li a.active,
        .main-menu li a{
            border-color: rgba(255, 255, 255, 0.2);
        }
    }
}
@media only screen and (min-width:992px) {
    .theme-dark{
        .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu,
        .main-menu-wrap #menu ul li.has-children .sub-menu{
            background-color:var(--aztechColor);
        }
        .header-wrap .navbar .navbar-nav .nav-item a:hover,
        .header-wrap .navbar .navbar-nav .nav-item a:focus,
        .header-wrap .navbar .navbar-nav .nav-item a.active{
              color: var(--mainColor)!important;
         }
         .header-wrap.style2 .navbar .navbar-nav .nav-item .dropdown-menu li{
            border-color:rgba(255, 255, 255, 0.15);
        }
    }
}